*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Stalinist One', cursive;
}
.wrapper{
    width: 1170px;
    margin:auto;
}
header{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), #272b31;
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Stalinist One', cursive;
    font-size: 14px;
}
.nav-area li a:hover{
     background: #fff;
     color: #333
}
.logo img{
    width: 75px;
    float: left;
    height: auto;
}
.fakeScreen {
  background-color: #151515;
  box-sizing: border-box;
  width: 900px;
  height: 500px;
  margin-top: 100px;
  margin: auto;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.input {
    background-color: transparent;
    color:rgb(50,255,0);
    font-family:"VT323",monospace;
    width: 900px;
    height: 500px;
    margin-top: 50px;
    margin: auto;
    padding: 20px;
    letter-spacing: .1em;
    font-size: 24px;
    -webkit-font-smoothing: none;
    line-height: 1.2;
    resize: none;
}
