*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Stalinist One', cursive;
}
.wrapper{
    width: 1170px;
    margin:auto;
}
header{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), #272b31;
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Stalinist One', cursive;
    font-size: 14px;
}
.nav-area li a:hover{
     background: #fff;
     color: #333
}
.logo img{
    width: 75px;
    float: left;
    height: auto;
}
.crt {
  animation: textShadow .2s infinite;
  text-shadow: 0 0 10px #C8C8C8;
}
.error {
  background-color: transparent;
  color:rgb(255,55,0);
  font-family:"VT323",monospace;
  border: none;
  width: 90%;
  outline: none;
  box-shadow: none;
  padding: 0;
  letter-spacing: .1em;
    font-size: 32px;
    -webkit-font-smoothing: none;
    line-height: 1.2;

  animation-name: blink;
	animation-duration: 800ms;
	animation-iteration-count: 6;
	opacity: 0;
	margin: 0px auto;
}
.btn-group{
  margin-top: 16px;
}
.btn-group button {
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
  border: 1px solid rgb(50,255,0);
  background-color: transparent;
  padding: 14px 28px;
  font-family:"VT323",monospace;
  letter-spacing: .1em;
    font-size: 24px;
    -webkit-font-smoothing: none;
    line-height: 1.2;
  cursor: pointer;
  border-color:rgb(50,255,0);
  color:rgb(50,255,0);
  margin-top:4px;
}
.btn-group button:hover {
  background-color:rgba(50,255,0,.25); ;
}
dialog{
    color:rgb(50,255,0);
    /*background:#000;*/
    font-family: "VT323",monospace;
    letter-spacing: .1em;
    font-size: 24px;
    -webkit-font-smoothing: none;
    line-height: 1.2;
    background-color: black;
    width:50%;
	  max-width:500px;
	  position: fixed;
    top: 10%;
    left: 0%;
	
}
